services:
  main:
    build:
      context: main_server
      dockerfile: Dockerfile
    ports:
      - "8000:8000"
    networks:
      - mynetwork
    volumes:
      - /var/run/docker.sock:/var/run/docker.sock

  secondary-1:
    build:
      context: secondary_server
      dockerfile: Dockerfile
    ports:
      - "7000:8000"
    networks:
      - mynetwork

  secondary-2:
    build:
      context: secondary_server
      dockerfile: Dockerfile
    ports:
      - "7001:8000"
    networks:
      - mynetwork

  secondary-3:
    build:
      context: secondary_server
      dockerfile: Dockerfile
    ports:
      - "7002:8000"
    networks:
      - mynetwork

  secondary-4:
    build:
      context: secondary_server
      dockerfile: Dockerfile
    ports:
      - "7003:8000"
    networks:
      - mynetwork

  secondary-5:
    build:
      context: secondary_server
      dockerfile: Dockerfile
    ports:
      - "7004:8000"
    networks:
      - mynetwork


networks:
  mynetwork:
    name: data_network
    driver: bridge

